

/* Payment container */
.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* Heading */
h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

/* Tabs */
.tab-container {
    display: flex;
    margin-bottom: 15px;
}

.tab {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #f1f1f1;
}

.tab.active {
    background: #007bff;
    color: white;
    font-weight: bold;
}


.payment-form input,
.payment-form select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form .flex {
    display: flex;
    gap: 10px;
}

.payment-form .flex div {
    flex: 1;
}

.payment-form button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.payment-form button:hover {
    background: #218838;
}

.payment-form.active {
    display: block;
}